<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="nijiadmanager_grid_source" xsi:type="string">Niji\AdManager\View\Element\UiComponent\DataProvider\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Niji\AdManager\View\Element\UiComponent\DataProvider\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ad</argument>
            <argument name="resourceModel" xsi:type="string">Niji\AdManager\Model\ResourceModel\Ad</argument>
        </arguments>
    </virtualType>

</config>