<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Niji_AdManager::Manager"
             title="Manage ads"
             translate="title"
             module="Niji_AdManager"
             sortOrder="20"
             action="nijiadmanager/ad/index"
             resource="Niji_AdManager::listing"/>
    </menu>
</config>